.outer {
  position: relative;
  width: fit-content;
  margin-inline: auto;
}

.container {
  width: 100%;
  max-width: 24rem;
  height: 19rem;
  overflow: hidden;
  pointer-events: none;
}

.container > img {
  width: 100%;
  position: relative;
  bottom: 2rem;
}

.next,
.previous {
  width: 2.5rem;
  aspect-ratio: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.next {
  right: 1rem;
  top: calc(50% - 1.25rem);
}

.previous {
  left: 1rem;
  top: calc(50% - 1.25rem);
}

.next > img,
.previous img {
  height: 0.7rem;
  width: 0.5rem;
}

.thumbnails {
  display: none;
}

@media (max-width: 18.5rem) {
  .container {
    height: fit-content;
  }
  .container > img {
    bottom: 0;
  }
}

@media (hover: hover) {
  .thumbnail:hover {
    filter: brightness(1);
  }
}

@media (min-width: 56.25rem) {
  .container {
    min-width: 25rem;
    min-height: 28rem;
    max-width: 28rem;
    margin-inline: 0;
    border-radius: 1rem;
    margin-bottom: 1.9rem;
    pointer-events: all;
    cursor: pointer;
  }
  .container > img {
    height: 100%;
    bottom: 0;
  }
  .next,
  .previous {
    display: none;
  }
  .thumbnails {
    display: block;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.75rem;
    min-width: 25rem;
    max-width: 28rem;
  }
  .thumbnail {
    border-radius: 0.8rem;
    border: 2px solid transparent;
    filter: brightness(0.8);
    overflow: hidden;
    cursor: pointer;
  }
  .chosen {
    border-radius: 0.8rem;
    border: 2px solid hsl(26, 100%, 55%);
    overflow: hidden;
    cursor: pointer;
  }
  .thumbnail > img {
    width: 100%;
    height: 100%;
  }
  .chosen > img {
    width: 100%;
    height: 100%;
  }
}
