@media (max-width: 56.24999rem) {
  .backdrop,
  .container,
  .thumbnails {
    display: none;
  }
}

@media (hover: hover) {
  .thumbnail:hover {
    filter: brightness(1);
  }
  .close:hover > svg > path {
    fill: hsl(26, 100%, 55%);
  }
  .next:hover > svg > path,
  .previous:hover > svg > path {
    stroke: hsl(26, 100%, 55%);
  }
}

@media (min-width: 56.25rem) {
  .backdrop,
  .container,
  .thumbnails {
    display: block;
  }
  .backdrop {
    width: 100%;
    height: 100%;
    background-color: #111111;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    cursor: pointer;
  }

  .container {
    width: 34.5rem;
    height: 34.5rem;
    border-radius: 1rem;
    position: absolute;
    top: 8rem;
    left: calc(50% - 17.25rem);
    z-index: 5;
  }

  .container > img {
    width: 100%;
    border-radius: 1rem;
  }

  .close {
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3rem;
    right: 0;
    cursor: pointer;
  }

  .close > svg {
    width: 100%;
    height: 100%;
  }

  .close > svg > path {
    transform: scale(1.6);
  }

  .next,
  .previous {
    width: 3.6rem;
    aspect-ratio: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 1.8rem);
    cursor: pointer;
  }

  .next {
    right: -1.8rem;
  }

  .previous {
    left: -1.8rem;
  }

  .thumbnails {
    position: absolute;
    top: 45rem;
    left: calc(50% - 14rem);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.75rem;
    width: 28rem;
    z-index: 5;
  }
  .thumbnail {
    border-radius: 0.8rem;
    border: 2px solid transparent;
    filter: brightness(0.8);
    overflow: hidden;
    cursor: pointer;
  }
  .chosen {
    border-radius: 0.8rem;
    border: 2px solid hsl(26, 100%, 55%);
    overflow: hidden;
    cursor: pointer;
  }
  .thumbnail > img {
    width: 100%;
    height: 100%;
  }
  .chosen > img {
    width: 100%;
    height: 100%;
  }
}
